body{
	background: #000000 url('../image/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
#wrapper
{
	margin: 0 auto;
	width: 100%;

}

#header
{
	//background: #2B8BD5;
	padding: 20px;
	text-align: center;
}

#header h1 { margin: 0;
	font:italic normal 3em georgia;
	color:#fff;

}

#mr{
	border-bottom: 1px solid #fff;
}

#navigation ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}


#navigation li a
{
	float: left;
	padding: 5px 10px; color: #fff;
	text-decoration: none;
	border-right: 5px solid #fff;

}

#navigation li a:hover
{ background: #736F6E; }

#content-container
{
	float: left;
	width: 100%;

}

#main
{
	clear: left;
	float: left;
	width: 90%;
	padding: 15px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#main h2 { margin: 0;
 }
#main div{
	padding-top: 30px;
	float: left;
}
#main img{
	margin:0;
	float: right;

}

#footer
{
	clear: left;
	background: #ccc;
	text-align: center;
  float: center;
	padding: 20px;
	//height: 1%;
}
#registrationForm {
  height: 500px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  color: black;
  text-align: left; }
  #registrationForm label {
    display: inline-block;
    text-align: left;
    width: 30%; }
  #registrationForm input {
    padding: 5px;
    width: 150px;
    margin: 10px 50px;
    box-shadow: 3px 2px 0px grey; }
  #registrationForm button {
    margin: 20px 10px 20px;
    width: 80px;
    padding: 5px; }

.container {
  text-transform: uppercase;

  padding: 30px;
  background-color: white;
  border-radius: 20px 50px;
  box-shadow: 10px 10px 5px #888888; }

.bold {
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 800; }

.wrapper {
  align-content: center;
  height: 100%;
  float: center;
  width: 100%;
  margin-left: 50px;

  background-repeat: no-repeat; }
